<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="c.m.marketplacedesa">

    <dist:module dist:instant="true" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.seller.sellereditstoreinformation.SellerEditStoreInformationActivity"></activity>
        <activity android:name=".ui.seller.sellereditproduct.SellerEditProductActivity" />
        <activity android:name=".ui.seller.selleraddproduct.SellerAddProductActivity" />

        <service
            android:name=".util.service.ApplicationFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_maps" />

        <activity android:name=".ui.seller.sellerstoreinformation.SellerStoreInformationActivity" />
        <activity android:name=".ui.seller.completesellerstoreinformation.CompleteSellerStoreInformationActivity" />
        <activity android:name=".ui.user.userordercart.UserOrderCartActivity" />
        <activity android:name=".ui.user.userstoredetails.UserStoreDetailsActivity" />
        <activity
            android:name=".ui.user.completeuserprofile.CompleteUserProfileActivity"
            android:parentActivityName=".ui.user.main.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="c.m.marketplacedesa.ui.user.main.MainActivity" />
        </activity>
        <activity android:name=".ui.user.usereditprofile.UserEditProfileActivity" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:value=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="c.m.marketplacedesa.ui.user.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.user.userprofile.UserProfileActivity"
            android:theme="@style/ProfileTheme.NoActionBar" />
        <activity
            android:name=".ui.user.userstore.UserStoreActivity"
            android:parentActivityName=".ui.user.main.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="c.m.marketplacedesa.ui.user.main.MainActivity" />
        </activity>
        <activity android:name=".ui.signin.SignInActivity" />
        <activity android:name=".ui.user.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>